/* all app scss styles here */

$droid: 'Droid Serif', serif;
$gudea: 'Gudea', sans-serif;

$sred: #DF0A15;
$sgreen: #2F695A;
$sbrown: #75582F;

$sdark: #2D2D2D;
$smedium: #6D6D6D;
$light: #BFBFBF;

/* Quicktech */
$headerHeight: 80px;
$minimizedHeaderHeight: 70px;

body {
	font-family: $gudea;
}

h1, h2, h3, h4, h5 {
	font-family: $droid;
}

a {
	transition: all 0.5s ease;
}

button {
	border: 1px solid $sred;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px 25px;
	font-family: $gudea;
	text-transform: uppercase;
	font-size: 15px;
	&:hover {
		background-color: $sred;
	}

}

button, .button
{
	transition: all .3s ease;
}

.margintop {
	margin-top: 80px;
}

header#top {
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	float: left;
	height: $headerHeight;
	position:fixed;
	width: 100%;
	z-index: 1001;

	transition: all 0.5s ease;

	#branding {
		//height: 90px;

		a.logo {
			height: 76px;
			display: block;
			background-image: url(../images/static/cafe-europa-logo.png);
			background-repeat: no-repeat;
			background-position: left center;
			background-size: auto 100%;
			margin-top: 2px;

			span {
				display: block;
				text-indent: -9999px;
				overflow: hidden;
			}
		}
	}
	#mainNav {
		padding: 0px;
		
		ul {
			list-style-type: none;
			float: right; 
			margin-top: 35px;
			transition: all 0.5s ease;
			li {
				float: left;
				padding: 0 15px;
				text-transform: uppercase;
				a {
					color: $sdark;

					&:hover {
						color: $sred;
					}
				}
				&:hover {
					ul {
						display: block;
						margin-top: 80px;
						li {

						}
					}
				}
				&.active {

				}
				ul {
					display:none;
					position:absolute;
					top:-30px;
					//left:5;
					background:transparent;
					padding-top:30px;
					margin: 0px;
					li {
						float:none;
						//width:200px;
						padding: 5px 40px 5px 20px;
						background-color: rgba(0,0,0,0.9);
						&:first-child {
							//border-top: 2px solid $sred;
						}
					}
				}
			}
		}
	}
	&.minimized
	{
		//height: $minimizedHeaderHeight; // Removed because of conflict with the .handlekurv element
		height: auto;
		background-color: white;

		#branding {
			
			a.logo {
				margin-top: 1px;
			}
		}

		#mainNav {
			ul {
				margin-top: 25px;
				li {
					ul {
					padding-top:30px;
					margin-top: 72px;
					}
				}
			}
		}
	}
	&.handlekurv {
		height: 130px;
		&.minimized {
			height: 110px;
		}
	}

	/* Quicktech */

	.menutoggle
	{
		text-align: right;

		h3 {
			margin-top: 0;
		}
	}

	/* Quicktech */
}

#contentPusher {
	height: $headerHeight;
}

.handlekurv {
	width: 100%;
	float: left;
	background-color: #347E62;
	height: 40px; 
	display: none;

	p {
		color: white;
		padding: 10px;
		font-size: 12px;
	}
	.shoppingButton {
		background-color: rgba(0,0,0,0.2);
		height: 40px;
		max-width: 150px;
		transition: all 0.5s ease; 
		&:hover {
			background-color: rgba(0,0,0,0.4);
		}
	}
	.handlekurvVarer {

	}

}

.slideshow {
	width: 100%;
	float: left;
	height: 100%;
	max-height: 700px;
	display: block;
	background-color: $smedium;
	//background-image: url(../images/grill2.jpg);
	//margin-top: -90px;
	position: relative;
	z-index: 1;

	ul.slides {

		li {
			max-height: 700px;
			background-repeat: no-repeat;
			background-size: cover;
			-moz-background-size: cover;
			background-position:center center;
			position:relative;

			&:before {
				background: rgba(0, 0, 0, .1);
				content: '';
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 0;
			}
			
			.slideContent {
				float: left;
				position: absolute;
				top: 40%;
				text-shadow: 0 2px 1px rgba(0, 0, 0, .5);

				h1 {
					//font-style: italic;
					font-family: $gudea;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 60px;
					color: white;
				}

				hr {
					max-width: 17%;
				}

				p {
					color: white;
					max-width: 45%;
					font-size: 18px;
				}

				.icon {
					max-width: 50px;
				}

				button {
					box-shadow: 0 2px 1px rgba(0, 0, 0, .5);
					text-shadow: 0 2px 1px rgba(0, 0, 0, .5);
				}
			}
		}
	}
	
	.flex-control-paging.flex-control-nav {
		bottom: 0;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;

		li {
			display: inline-block;
			margin: 0 4px;

			a {
				background-color: rgba(255, 255, 255, .4);
				height: 14px;
				width: 14px;

				&.flex-active {
					background-color: white;
				}
			}
		}
	}

	.flex-direction-nav {
		
		a {
			color: white;
			font-family: 'FontAwesome';
			font-size: 60px;
			margin: 0;
			top: 50%;
			transform: none;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(calc(-50% + 13px));
			}

			&.flex-prev {

				&:before {
					content: '\f104';
				}
			}
			&.flex-next {

				&:before {
					content: '\f105';
				}
			}
		}
	}

	&.flexslider:hover {

		.flex-prev {
			left: 10px;
		}
		.flex-next {
			right: 10px;
		}
	}
}

#seasonContainer {
	float: left;
	height: 100%;
	background-color: $smedium;
	position: relative;
	z-index: 1;
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
	width: 100%;

	&:before {
		background: rgba(0, 0, 0, .4);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	
	.seasonText {
		text-align: center;
		z-index: 2;
		width: 100%;

		h1 {
			color: white;
			font-family: $gudea;
			font-weight: bold;
			font-size: 40px;
			margin: 0;
			text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
			text-transform: uppercase;
			width: 100%;
		}

		hr {
			max-width: 17%;
		}

		p {
			color: white;
			max-width: 45%;
			font-size: 18px;
		}

		.icon {
			max-width: 50px;
		}
	}
}

#dagens {
	float: left;
	width: 100%;
	display: block;
	height: auto;
	//background-color: yellow;
	margin: 0px;
	margin-top: -310px;
	.dagensImage {
		background-color: white;
		display: block;
		padding: 0px;
		.row {
			padding: 15px;
		}
	}
	.badge {
		float: right; 
		position: absolute; 
		right: -50px; 
		top: -90px;
	}
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		padding-top: 20px;
		font-weight: 700;
	}
	i {
		font-size: 20px;
		padding-right: 10px;
		transition: all 0.5s ease;
		&:hover {
			color: $sgreen;
		}
	}
	.omSolheim {
		background-color: #F8F7F5;
		table {
			width: 100%;
			background-color: transparent;
			border: none;
			tr {
				background-color: transparent;
				td {
					background-color: transparent;
					padding-left: 0px;
					font-size: 16px;
				}
			}
		}
		form {
			.row {
				padding-left: 0px;
			}
			.button {
				border:0px;
				font-size: 12px;
				font-weight: 700;
				font-family: $gudea;
				background-color: $sgreen;
				color: white;
				&:hover {
					background-color: $sdark;
				}
			}
		}	
	}
	.mainContent {
		 margin-top: 350px;
	}
}

#KTI {
	//margin-top: 30px;
	width: 100%;
	float: left;
	height: 300px;
	background-image: url(../images/grill2.jpg);
	color: white;
	text-align: center;
	padding-top: 100px;
	display: none;
	background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
	ul.bxslider {
		li {
			h5 {
				color: white;
				font-style: italic;
				max-width: 60%;
				margin: 0 auto;
				font-weight: 400;
			}
		}
	}

	.bx-controls
	{
		position: absolute;
		width: 100%;
		bottom: -50px;
	}
}

#nettbutikk {
	width: 100%;
	float: left;
	padding: 80px 0;
	text-align: center;

	hr {
		max-width: 17%;
		margin: 20px auto;
	}

	h3 {
		font-style: italic;
	}

	p {
		margin: 0 auto;

		&.paddingbottom {
			padding-bottom: 50px;
		}
	}

	ul {
		//margin-top: 50px;

		li {
			transition: all 0.5s ease;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.category-list {

		li {

			a {
				align-items: center;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				display: flex;
				height: 320px;
				position: relative;
				width: 100%;

				h3 {
					color: white;
					font-family: $gudea;
					font-size: 32px;
					font-style: normal;
					font-weight: bold;
					margin: 0;
					padding: 0 16px;
					position: relative;
					text-transform: uppercase;
					width: 100%;
					word-break: break-word;
					z-index: 2;
				}

				&:before {
					background: rgba(0, 0, 0, .4);
					content: '';
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 1;
				}
			}
		}
	}

	.venue-list {

		li {
			padding-bottom: 42px;

			&:hover {
				opacity: 1;
			}

			a {
				display: block;

				&.image {
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					height: 190px;
					transition: opacity 0.5s ease;
				}

				&.external {
					color: $primary-color;
				}

				&:hover {
					opacity: .5;
					
					&.external {
						text-decoration: underline;
					}
				}
			}

			h3 {
				margin: 16px 0 0;
			}
		}
	}

	.recommendation-list {
		text-align: left;

		li {
			padding: 16px;

			&:hover {
				opacity: 1;;
			}
			
			&:nth-child(odd) {
				background-color: $smoke;
			}

			a {
				color: $primary-color;
				text-decoration: underline;
			}

			span {
				display: block;
			}
		}
	}

	#example_video_1 {
		width: 100%;
		height: 559px;
		margin: 40px 0 30px 0;
	}

	.leftMenu {
		margin-top: 0px;
		ul {
			text-align: left;
			margin-top: 0px;
			margin-left: 0px;
			li {
				list-style-type: none;
				text-transform: uppercase;
				line-height: 32px;
				font-weight: 400;
				color: black;
				&:hover {
					color: $sred;
				}
				a {
					color: black;
					&:hover {
						color: $sred;
					}
				}
				&:first-child {
					font-weight: 700;
				}
			}
		}
		button {
			float: left;
			color: white !important;
			background-color: $sred;
			clear: left;
			&:hover {
				background-color: transparent;
				color: $sred !important;
			}
		}

		#contactFormSide
		{
			width: 100%;
			text-align: left;

			/* Quicktech */

			margin-bottom: $column-gutter/2;
			position: relative;
			
			/* Quicktech */

			.formHead {
				margin: 15px 0 20px 0;
				p {
					max-width: 100%;
				}
			}
			strong {
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			input {
				border: none;
				border-bottom: 1px solid;
				box-shadow: none;
				border-color: rgba(0,0,0,0.2);
				background-color: transparent;
				text-transform: uppercase;
			}
			textarea {
				border: none;
				border-bottom: 1px solid;
				box-shadow: none;
				border-color: rgba(0,0,0,0.2);
				background-color: transparent;
				text-transform: uppercase;
				min-height: 70px;
			}
		}
	}

	.leftMenuDark {
		margin-top: 0px;
		ul {
			text-align: center;
			margin-top: 0px;
			margin-left: 0px;
			background-color: #333333;
			li {
				list-style-type: none;
				text-transform: uppercase;
				line-height: 45px;
				font-weight: 400;
				color: white;
				border-bottom: 1px dotted white;
				width: 100%;
				&:hover {
					color: white;
					background-color: #3e3e3e;
				}
				a {
					color: white;
					line-height: 45px;
					display: block;
					&:hover {
						color: white !important;
						//background-color: $sred !important;
					}
				}
				&:first-child {
					font-weight: 700;
					padding-top: 20px;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
		button {
			float: left;
			color: white !important;
			background-color: $sred;
			clear: left;
			width: 100%;
			&:hover {
				background-color: transparent;
				color: $sred !important;
			}
		}

		#contactFormSide
		{
			margin-bottom: $column-gutter/2;
			width: 100%;
			text-align: center;
			border: 1px dotted #333;
			padding: 20px;
			.formHead {
				margin: 15px 0 20px 0;
				p {
					max-width: 100%;
				}
			}
			strong {
				text-transform: uppercase;
				padding-bottom: 20px !important;
				line-height: 40px;
			}
			input {
				border: none;
				border-bottom: 1px solid;
				box-shadow: none;
				border-color: rgba(0,0,0,0.2);
				background-color: transparent;
				text-transform: uppercase;
			}
			textarea {
				border: none;
				border-bottom: 1px solid;
				box-shadow: none;
				border-color: rgba(0,0,0,0.2);
				background-color: transparent;
				text-transform: uppercase;
				min-height: 70px;
			}
		}
		.handlekurvVarer {
			text-align: left !important;
			h3 {
				text-align: left !important;
			}
		}

	}

	.produkter
	{
		&.shop-product-container {
			padding: 0;

			&.product-details-page {
				padding-left: $column-gutter/2;
				padding-right: $column-gutter/2;
			}

			&.news-detail {

				.subtitle {
					display: block;
					margin-bottom: 32px;
				}

				ul {
					
					li {
						list-style-position: inside;
					}
				}
			}
		}

		.shop-product-container {

			.image {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: none;
				margin-bottom: 20px;
			}
		}

		ul {
			
			li {
				
				img {
					transition: all 0.5s ease;
					margin: 0px;
					padding: 0px;
					width: 100%;
				}

				.productInfoDetail {
					padding: 0px;

					h5 {
						font-size: 22px;
						margin: 32px 0 24px;
					}

					p {
						font-size: 15px;
						margin: 0 0 12px;
						max-width: 100% !important;
						min-height: 55px;
						text-align: left !important;
					}

					strong {
						font-size: 20px;
						width: 100%;
						float: left;
						margin: 0 0 24px; 
					}
				}

				.productInfo {
					margin-bottom: 20px !important;
					border: 1px solid $light;
					padding: 0px;
				}

				.antall {
					padding: 0px;
				}

				i {
					font-size: 30px;
					float: left;
					padding-top: 3px;
				}

				button {
					background-color: $sred;
					color: white;
					margin-top: 20px;

					&:hover {
						background-color: transparent;
						color: $sred;
					}
				}

				&:hover {
					opacity: 1.0;
				}
			}
		}

		table {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: 540px;

			tr td {
				text-align: center;
				width: 76px;

				&:first-child {
					text-align: left;
					width: auto;
				}
			}
		}

		.productInfo {
			text-align: left !important;
			h5 {
				font-size: 35px;
			}
			p {
				max-width: 100%;
			}
			hr {
				margin-left: 0px;
			}
			strong {
				font-size: 26px;
			
			}
			.antall
			{
				padding: 0px;
				margin-top: 20px;

				i {
					font-size: 25px;
					padding-top: 8px;
					cursor: pointer;
					float: none;
				}
				input {
					padding-left: 0px;
					padding-right: 0px;
					text-align: center;
					max-width: 3rem;
					margin: 0 auto;
				}
				&.withpadding {
					padding-left: 20px;
				}
				button
				{
					background-color: $sred;

					&:not(.disabled):hover
					{
						background-color: transparent;
						color: $sred;
					}

					&.disabled
					{
						cursor: not-allowed;
						opacity: .75;
					}
				}
			}
		}

		&.paddingtop {
			margin-top: 80px;
		}
	}

	.tilbehor {
        
        text-align: left;
        li {
            padding: 0px;
 
            .productInfo {
                            padding-bottom: 15px!important;
                border: 0px !important;
            background-color: #F8F7F5;
            margin-bottom: 20px;
            padding-bottom: 0px;
            .padding {
                padding-top: 18px;
                text-align: left;
                    i {
                        font-size: 24px;
                        padding-top: 3px;
                    }
                    input {
                        height: 30px;
                    }
                    .pluscircle {
                        margin-left: -20px; 
                        float: left;
                    }
                strong {
                    font-size: 18px;    
                }
                button {
                    margin: 0px;
                    max-height: 40px;
                    margin-top: -10px;
                }
                
            }
            .antall {
                margin-top: 0px!important;
            }
            .pluscircle {
                margin-left: -5px!important;
            }
        }
    }
    }

	.butikkListing {
		li {
			display: block;
			padding: 0px;
			span {
				width: 95% !important;
				border-top: 1px dotted #333333;
				display: block;
				line-height: 40px;

				/* Quicktech */

				cursor: pointer;
				
				&.active
				{
					font-weight: bold;
				}
				/* Quicktech */
			}
		}
	}
	.infoBoks {
		max-width: 95%;
		border: 1px dotted #333333;
		min-height: 40px;
		margin-top: 40px;
		padding: 50px 0;
		p {
			max-width: 90%;
		}
	}
	&.kontakt {
		text-align: left;

		p {
			max-width: 100%;
		}

		.contactForm {
			border: 1px dotted #333;
			padding: 20px;

			#contactFormSide {
				width: 100%;
				text-align: left;

				.formHead {
					margin: 15px 0 20px 0;

					p {
						max-width: 100%;
					}
				}

				strong {
					text-transform: uppercase;
					margin-bottom: 10px;
				}

				input {
					border: none;
					border-bottom: 1px solid;
					box-shadow: none;
					border-color: rgba(0,0,0,0.2);
					background-color: transparent;
					text-transform: uppercase;
				}

				textarea {
					border: none;
					border-bottom: 1px solid;
					box-shadow: none;
					border-color: rgba(0,0,0,0.2);
					background-color: transparent;
					text-transform: uppercase;
					min-height: 70px;
				}
			}

			button {
				width: 100%;
				background-color: $sred;
				
				&:hover {
					background-color: transparent;
				}
			}
		}

		.map-container iframe {
			max-width: 100%;
		}
	}

	/* Quicktech */

	&.search-results
	{
		text-align: left;

		h3
		{
			padding-top: 1rem;
		}

		p
		{
			margin-left: 0;
			margin-bottom: 1rem;
		}
	}

	/* Quicktech */
}

.frontpagevideo {
	float: left;
	width: 100%;
	padding: 120px 0;

	#example_video_1 {
		width: 100%;
		height: 650px;
	}
}

#contact {
	width: 100%;
	float: left;
	background: $iron;
	display: block;
	text-align: center;
	color: white;
	padding: 60px 0;

	h3 {
		font-family: $droid;
		//text-transform: uppercase;
		font-weight: 300;
		color: white;
		font-size: 35px;
		font-style: italic;
		line-height: 60px;
	}
	p {
		font-family: $gudea;
		font-size: 20px;
		line-height: 28px;
	}
	button {
		margin-top: 20px;
		background-color: $sred;
		&:hover {
			background-color: transparent;
		}
	}
}

.velkommen {
	background-color:#F8F7F5;
		table {
		border: none;
		background-color: transparent;
		tr {
			background-color: transparent;
			td {
				background-color: transparent;
				padding-left: 0px;
				font-size: 16px;
			}
		}
	}
}

#handlekurv {
	width: 100%;
	float: left;
	padding: 80px 0;
	text-align: left;
	hr {
		max-width: 17%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0px !important;
	}
	h3 {
		font-style: italic;
	}
	.shopItem {
		width: 100%;
		text-align: left !important;
		background-color: #F8F7F5;
		padding: 20px 30px;
		min-height: 200px;
		margin-bottom: 20px !important;
		
		.close
		{
			margin-bottom: 1rem;
			text-align: right;

			i {
				color: #2D2D2D;
				cursor: pointer;

				&:before
				{
					font-size: 20px;
				}
			}
		}

		.product-image
		{
			margin-bottom: .5rem;
			width: 100%;
		}

		strong {
			font-size: 27px;
			text-align: left;
		}
		.antallpris {
			padding-top: 30px;
		}
		.antall {
			padding: 0px;
			i {
				font-size: 25px;
				padding-top: 8px;
				cursor: pointer;
			}
			input
			{
				padding-left: 0px;
				padding-right: 0px;
				text-align: center;
				max-width: 3rem;
				margin: 0 auto;
			}
			&.withpadding {
				padding-left: 20px;
			}
		}
	}
	.total {
		border-bottom: 1px solid #333333;
		text-align: right;
		font-size: 27px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	button {
		margin-top: 40px;
		background-color: $sred;
		&:hover {
			background-color: transparent;
			color: $sred;
		}

		&#empty-cart-btn
		{
			margin: 0;
		}
	}
		.leftMenuDark {
		margin-top: 0px;
		ul {
			text-align: center;
			margin-top: 0px;
			margin-left: 0px;
			background-color: #333333;
			li {
				list-style-type: none;
				text-transform: uppercase;
				line-height: 45px;
				font-weight: 400;
				color: white;
				border-bottom: 1px dotted white;
				width: 100%;
				&:hover {
					color: white;
					background-color: #3e3e3e;
				}
				a {
					color: white;
					line-height: 45px;
					display: block;
					&:hover {
						color: white !important;
						//background-color: $sred !important;
					}
				}
				&:first-child {
					font-weight: 700;
					padding-top: 20px;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

#news {
	.historie {
		h5 {
			margin-bottom: 10px;
		}
		img {
			padding: 15px 0;
		}
	}
}

#SOME {
	background-color: $sbrown;
	color: white;
	float: left;
	padding: 30px 0 10px 0;
	width: 100%;

	p {
		padding-top: 7px;
	}

	i {
		color: white;
		font-size: 40px;
		padding-left: 20px;
		transition: all 0.5s ease;
		
		&:hover {
			color: rgba(255, 255, 255, 0.6);
		}
	}

	input {
		border-color: transparent;
		box-shadow: none;
	}

	.button {
		font-weight: 700;
		font-size: 12px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;

		&:hover {
			background-color: rgba(0, 0, 0, 0.9);
		}
	}
}

#Solheim {
    height:250px;
    width:90%;
    &.stor {
    	height:400px;
    	width:100%;
    }
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}

footer {
	width: 100%;
	float: left;
	padding: 50px 0;

	strong {
		text-transform: uppercase;
		padding-bottom: 40px;
	}

	a {
		color: $sgreen;
	}

	table {
		border: none;
		background-color: transparent;
		tr {
			background-color: transparent;
			td {
				background-color: transparent;
				font-size: 16px;
			}
		}
	}

	img {
		float: right;
		max-width: 250px;
		width: 100%;
	}
}

#bottomfooter {
	width: 100%;
	float: left;
	background-color: $sdark;
	padding: 20px 0;
	color: white;
	font-size: 12px;
	a {
		color: white;
		&:hover {
			color: rgba(255,255,255,0.5);
		}
	}
}

/* Quicktech */

.scroll-anchor
{
	display: block;
	position: absolute;
	top: -#{$minimizedHeaderHeight};
}

.search-form
{
	background-color: $sred;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	display: none;
	padding: 15px;
	position: absolute;
	top: 100%;
	width: 100%;

	input,
	input:focus
	{
		background-color: $sred;
		border: none;
		border-left: 1px solid rgba(255, 255, 255, .75);
		box-shadow: none;
		color: white;
		font-size: 1rem;
		height: 1.75rem;
		line-height: 1.75rem;
		margin: 0 auto;
		padding: 0 0 0 .5rem;

		&:-ms-input-placeholder
		{
			color: white;
		}
		&::-webkit-input-placeholder
		{
			color: white;
		}
		&:-moz-placeholder
		{
			color: white;
		}
		/* firefox 19+ */
		&::-moz-placeholder
		{
			color: white;
		}
	}
}

.cart-icon
{
	position: relative;
}

.cart-qty-icon
{
	display: none;
	border-radius: 100px;
	background-color: $sred;
	color: white;
	position: absolute;
	bottom: -4px;
	right: 16px;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	width: 14px;
}

input.form-error,
textarea.form-error
{
	background-color: $sred !important;
	color: white !important;
}
label.form-error
{
	color: $sred;
	font-weight: bold;
}


@media #{$medium} {

	#handlekurv .shopItem .antall input
	{
		max-width: none;
	}

	.leftMenuDark ul
	{
		display: block !important;
	}

	#nettbutikk .produkter .shop-product-container .image {
		display: block;
		height: 170px;
	}
}


@media #{$large} {

	header#top #mainNav ul li ul li a {
		color: white;
	}

	.cart-qty-icon
	{
		bottom: -6px;
		right: -6px;
	}

	#handlekurv .shopItem .antall input
	{
		margin: 0 8px;
		max-width: calc( 100% - 16px );
	}

	#nettbutikk {

		.produkter .shop-product-container .image {
			height: 240px;
		}

		.recommendation-list {

			li {
				
				&:nth-child(odd) {
					background-color: transparent;
				}

				&:nth-child(8n+1),
				&:nth-child(8n+3),
				&:nth-child(8n+6),
				&:nth-child(8n) {
					background-color: $smoke;
				}
			}
		}
	}
}

/* Quicktech */


@media #{$medium-only} {

	header#top {

		#mainNav {
			display: none;
			background-color: $sbrown;
			width: 100%;

			ul {
				width: 100%;
				li {
					width: 100%;
					line-height: 30px;
					border-bottom: 1px solid white;
					text-align: center;
					&.active {
						color: black;
					}
					a {
						&:hover {
							color: rgba(255,255,255,0.5);
						}
					}
					ul {
						display: none;
						li {
							display: none;
						}
					}
				}
			}
		}

		&.minimized {

			#mainNav {

				ul {
					margin-top: 0px;
				}
			}

			#menuopen {
				margin-top: 22px;
			}
			#menuclose {
				margin-top: 22px;
			}
			#menuicon {
				margin-top: 22px;
			}
		}
	}

	#menuclose {
		display: none;
		margin-top: 30px !important;
		cursor: pointer;
	}
	#menuopen {
		margin-top: 30px;
		transition: all 0.5s ease;
		cursor: pointer;
	}
	#menuicon {
		color: $body-font-color;
		margin-top: 30px;
		margin-right: 15px;
		transition: all 0.5s ease;
		cursor: pointer;
	}

	#dagens {
		float: left;
		width: 100%;
		display: block;
		height: auto;
		//background-color: yellow;
		margin: 0px;
		margin-top: -310px;
		text-align: center;
		.dagensImage {
			background-color: white;
			display: block;
			padding: 0px;
			.row {
				padding: 15px;
			}
		}
	}

	.slideshow {
		height: 100%;
		.slideContent {
			text-align: center;
			top: 18%;
			h1 {
				font-size: 40px;
			}
			hr {
				max-width: 17%;
			}
			p {
				max-width: 50%;
				margin: 0 auto 20px auto;
				font-size: 16px;
			}
			.icon {
				max-width: 50px;
			}
		}
	}

	#seasonContainer {
		//height: 100%;
		.seasonText {

			h1 {
				font-size: 40px;
			}
			hr {
				max-width: 17%;
			}
			p {
				max-width: 50%;
				margin: 0 auto 20px auto;
				font-size: 16px;
			}
			.icon {
				max-width: 50px;
			}
		}
	}

	.infoBoks {

		margin-top: 120px !important;

	}

	#dagens {
		.mainContent {
			text-align: center;
		}
	}

	#KTI {
		margin-top: 30px;
		width: 100%;
		float: left;
		height: auto;
		background-image: url(../images/grill2.jpg);
		color: white;
		text-align: center;
		padding-top: 60px;
		background-size:     cover;                    
    	background-repeat:   no-repeat;
    	background-position: center center;  
		ul.bxslider {
			padding: 0px;
			margin: 0px;
			li {
				h5 {
					color: white;
					font-style: italic;
					max-width: 100%;
					margin: 0 auto;
					font-weight: 400;
					font-size: 14px;
				}
				p {
					padding-top: 10px;
					font-size: 12px;
				}
			}
		}
		.bx-wrapper .bx-pager {
			display: none;
		}
	}

	#SOME {
		text-align: center;
		i {
			font-size: 40px;
			padding-left: 10px;
			margin-bottom: 20px;
			color: white;
			transition: all 0.5s ease;
		}
	}

	footer {
		text-align: left;
		.columns {
			margin-bottom: 30px;
		}
		table {
			//width: 75%;
			margin: 0px;
			//margin: 0 auto;
		}
		img {
			float: left;
			margin: 0 auto !important;
		}
	}

	.bottomfooter {
		text-align: center;
	}

	/* Quicktech */

	#handlekurv .shopItem .antall
	{
		padding: inherit;
	}

	#nettbutikk .category-list li a {
		height: 240px;

		h3 {
			font-size: 20px;
		}
	}

	/* Quicktech */
}



@media #{$small-only} {

	header#top {

		#mainNav {
			display: none;
			background-color: $sbrown;
			width: 100%;

			ul {

				li {
					width: 95%;
					line-height: 60px;
					border-bottom: 1px solid rgba(255, 255, 255, .4);
					text-align: center;

					&:first-child {
						border-top: 1px solid rgba(255, 255, 255, .4);
					}

					&.active a {
						color: rgba(0, 0, 0, .8);
					}

					a {
						color: white;
						font-size: 18px;
					}

					ul {
						display: none;

						li {
							display: none;
						}
					}
				}
			}
		}
		
		&.minimized {

			#menuopen {
				margin-top: 22px;
			}
			#menuclose {
				margin-top: 22px !important;
			}
			#menuicon {
				margin-top: 22px;
			}
		}

		#branding a.logo {
			background-size: 100% auto;
		}
	}

	.frontpagevideo {
		float: left;
		width: 100%;
		padding: 50px 0;
		
		#example_video_1 {
			width: 100%;
			height: 230px;
		}
}

	#menuclose {
		display: none;
		margin-top: 30px !important;
		cursor: pointer;
	}
	#menuopen {
		margin-top: 30px;
		transition: all 0.5s ease;
		cursor: pointer;
	}
	#menuicon {
		color: $body-font-color;
		margin-top: 30px;
		margin-right: 15px;
		transition: all 0.5s ease;
		cursor: pointer;
	}

	.slideshow {
		//height: 500px;
		height: 100%;
		min-height: 500px;
		.slideContent {
			text-align: center;
			margin-top: -10% !important;
			h1 {
				font-size: 30px !important;
			}
			hr {
				max-width: 17%;
			}
			p {
				max-width: 100% !important;
				font-size: 14px;
			}
			.icon {
				max-width: 50px;
			}
		}
	}

	#seasonContainer{
		//height: 500px;
		//height: 100%;
		max-height: 200px;

		.seasonText {

			h1 {
				font-size: 30px;
			}
			hr {
				max-width: 17%;
			}
			p {
				max-width: 90%;
				font-size: 14px;
			}
			.icon {
				max-width: 50px;
			}
		}
	}

	#dagens {
		.mainContent {
			text-align: center;
		}
	}



	#KTI {
		margin-top: 30px;
		width: 100%;
		float: left;
		height: auto;
		background-image: url(../images/grill2.jpg);
		color: white;
		text-align: center;
		padding-top: 60px;
		background-size:     cover;                    
    	background-repeat:   no-repeat;
    	background-position: center center;  
		ul.bxslider {
			padding: 0px;
			margin: 0px;
			li {
				h5 {
					color: white;
					font-style: italic;
					max-width: 100%;
					margin: 0 auto;
					font-weight: 400;
					font-size: 14px;
				}
				p {
					padding-top: 10px;
					font-size: 12px;
				}
			}
		}
		.bx-wrapper .bx-pager {
			display: none;
		}
	}

	#SOME {
		text-align: center;
		i {
			font-size: 40px;
			padding-left: 10px;
			margin-bottom: 20px;
			color: white;
			transition: all 0.5s ease;
		}
	}

	footer {
		text-align: center;
		.columns {
			margin-bottom: 30px;
		}
		table {
			width: 75%;
			margin: 0 auto;
		}
		img {
			float: none;
			margin: 0 auto !important;
		}
	}

	.bottomfooter {
		text-align: center !important;
		margin: 0 auto !important;
	}

	/* Quicktech */

	.leftMenuDark ul
	{
		display: none;

		li:first-child
		{
			display: none;
		}
	}

	#nettbutikk {
		#example_video_1 {
			width: 100%;
			height: 230px;
		}
	}

	#nettbutikk .leftMenuDark #left-menu-toggle
	{
		background-color: #333;
		border-width: 0;
		border-radius: 0;
		font-weight: bold;
		transition: padding-top .5s ease;

		i
		{
			font-size: 1rem;
			margin-left: 6px;
			transition: all .5s ease;
		}

		&:hover
		{
			color: white !important;
		}

		&.open
		{
			padding-top: 20px;
			margin-bottom: 0;

			i
			{
				transform: rotate(-180deg);
			}
		}
	}

	/* Quicktech */

}

